# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local
/target/
.venv/

# Editor directories and files
.vscode/*
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.env
!.env.*

# Added by cargo

/target


# Added by cargo
#
# already existing elements were commented out

#/target

#/push pem file
*.csr
*.key
*.pem
